<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AsanaPersonalAccessToken" value=""/>
    <add key="BulletJournalWorkspaceId" value=""/>
    <add key="BulletJournalDailyId"     value=""/>
    <add key="BulletJournalWeeklyId"    value=""/>
    <add key="BulletJournalMontlyId"    value=""/>
  </appSettings>
</configuration>